# WILCOXON

In [ ]:
H0 - There is no significant difference in the calcium level of the patient intially, after 2 weeks and 4th week
H1 - There is significant difference in the calcium level of the patient intially, after 2 weeks and 4th week

In [1]:
import pandas as pd
from scipy.stats import wilcoxon
dataset= pd.read_excel("1 Wilcoxon.xlsx")
dataset.head()

   ID  TRT  AGE  WEIGHIN  STAGE  TOTALCIN  TOTALCW2  TOTALCW4 TOTALCW6
0   1    0   52    124.0      2         6         6         6        7
1   5    0   77    160.0      1         9         6        10        9
2   6    0   60    136.5      4         7         9        17       19
3   9    0   61    179.6      1         6         7         9        3
4  11    0   59    175.8      2         6         7        16       13

In [2]:
d1=dataset.TOTALCIN
d2=dataset.TOTALCW2
stat, p=wilcoxon(d1,d2)
print(stat,p)

29.5 0.00259741456482452

In [ ]:
here p value <0.05
HENCE IT WILL ACCEPT NULL HYPOTHISIS H0. 
RESULT:There is no significant difference in the calcium level of the patient intially, after 2 weeks and 4th week

# FRIEDMAN TEST

In [ ]:
H0 - There is no significant difference in the calcium level of the patient intially, after 2 weeks and 4th week
H1 - There is significant difference in the calcium level of the patient intially, after 2 weeks and 4th week

In [2]:
import pandas as pd
from scipy.stats import wilcoxon
dataset= pd.read_excel("1 Wilcoxon.xlsx")
dataset.head()

   ID  TRT  AGE  WEIGHIN  STAGE  TOTALCIN  TOTALCW2  TOTALCW4 TOTALCW6
0   1    0   52    124.0      2         6         6         6        7
1   5    0   77    160.0      1         9         6        10        9
2   6    0   60    136.5      4         7         9        17       19
3   9    0   61    179.6      1         6         7         9        3
4  11    0   59    175.8      2         6         7        16       13

In [2]:
from scipy.stats import friedmanchisquare
d1= dataset.TOTALCIN
d2= dataset.TOTALCW2
d3= dataset.TOTALCW4

stats, p = friedmanchisquare(d1,d2,d3)

NameError: name 'dataset' is not defined