In [2]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [33]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [34]:
titles["title"].unique

<bound method Series.unique of 0                          Tasveer Mere Sanam
1                                    Only You
2                        El pueblo del terror
3                                     Machine
4                                        MARy
                         ...
244909    Black Butterfly in a Colorful World
244910          Hua fei hua wu chun man cheng
244911                   Nippon dabi katsukyu
244912          Under Siege 2: Dark Territory
244913              She Must Be Seeing Things
Name: title, Length: 244914, dtype: object>

### How many movies are listed in the titles dataframe?

In [35]:
titles.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
244909    False
244910    False
244911    False
244912    False
244913    False
Length: 244914, dtype: bool

In [14]:
titles.drop_duplicates()

                                      title  year
0                        Tasveer Mere Sanam  1996
1                                  Only You  1994
2                      El pueblo del terror  1970
3                                   Machine  2007
4                                      MARy  2008
...                                     ...   ...
244909  Black Butterfly in a Colorful World  2018
244910        Hua fei hua wu chun man cheng  1980
244911                 Nippon dabi katsukyu  1970
244912        Under Siege 2: Dark Territory  1995
244913            She Must Be Seeing Things  1987

[244914 rows x 2 columns]

In [15]:
titles['title'].count

<bound method Series.count of 0                          Tasveer Mere Sanam
1                                    Only You
2                        El pueblo del terror
3                                     Machine
4                                        MARy
                         ...
244909    Black Butterfly in a Colorful World
244910          Hua fei hua wu chun man cheng
244911                   Nippon dabi katsukyu
244912          Under Siege 2: Dark Territory
244913              She Must Be Seeing Things
Name: title, Length: 244914, dtype: object>

### What are the earliest two films listed in the titles dataframe?

In [18]:
import pandas as pd
release = pd.read_csv('release_dates.csv')
release.head()

                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                   #BKKY  2016     Cambodia  2017-10-12
2                 #Beings  2015      Romania  2015-01-29
3               #Captured  2017          USA  2017-09-05
4  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21

In [22]:
sort_list = titles.sort_values("year")
sort_list.head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

In [32]:
titles.head()

    title  year
0  Hamlet  1996
1  Hamlet  1994
2  Hamlet  1970
3  Hamlet  2007
4  Hamlet  2008

### How many movies have the title "Hamlet"?

In [39]:
subset = titles["title"]== 'Hamlet'
print(subset)

0         False
1         False
2         False
3         False
4         False
          ...
244909    False
244910    False
244911    False
244912    False
244913    False
Name: title, Length: 244914, dtype: bool

In [40]:
print(titles["title"]=="Hamlet")

0         False
1         False
2         False
3         False
4         False
          ...
244909    False
244910    False
244911    False
244912    False
244913    False
Name: title, Length: 244914, dtype: bool

In [47]:
titles.set_index('title')
subset = titles.loc['Hamlet']

print(subset)

KeyError: 'Hamlet'

### How many movies are titled "North by Northwest"?

### When was the first movie titled "Hamlet" made?

### List all of the "Treasure Island" movies from earliest to most recent.

### How many movies were made in the year 1950?

### How many movies were made in the year 1960?

### How many movies were made from 1950 through 1959?

### In what years has a movie titled "Batman" been released?

### How many roles were there in the movie "Inception"?

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

### But how many roles in the movie "Inception" did receive an "n" value?

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

### How many roles were credited in the silent 1921 version of Hamlet?

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were available for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?