In [1]:
lst=[INDIA,DUBAI,LONDON,PARIS,AMERICA]

NameError: name 'INDIA' is not defined

In [3]:
 lst=["INDIA","DUBAI","LONDON","PARIS","AMERICA"]]

SyntaxError: invalid syntax (<ipython-input-3-350d8020727d>, line 1)

In [9]:
 lst=["India","Dubai","London","Paris","America"]

In [14]:
lst.append("Africa")

In [15]:
lst

['India', 'Dubai', 'London', 'Paris', 'America', 'Africa', 'Africa']

In [33]:
lst.remove("Dubai")

In [34]:
lst

['India', 'London']

In [ ]:
lst=["India","Dubai","London","Paris","America"]

In [35]:
lst

['India', 'London']

In [37]:
lst.insert("Dubai","America")

TypeError: 'str' object cannot be interpreted as an integer

In [45]:
lst.append("Dubai")

In [32]:
lst.reverse

In [30]:
lst.remove("America")

ValueError: list.remove(x): x not in list

In [31]:
lst.remove(Africa)

NameError: name 'Africa' is not defined

In [23]:
lst.pop(3)

'Paris'

In [25]:
lst

['India', 'Dubai', 'London', 'America']

In [16]:
lst.clear()

In [17]:
lst

[]

In [ ]:
lst.po[]