# LIST

In [ ]:
list=["mumbai","dubai","london","paris","amsterdam","newyork"]

In [ ]:
list

In [ ]:
lst = ["mumbai","dubai","london","paris","newyork"]

In [ ]:
lst

In [ ]:
lst.append(1)

In [ ]:
lst

In [ ]:
lst_1=[2,3,4,5]

In [ ]:
lst_1=[2,3,4,5]
lst_2=lst_1.copy()
print(lst_2)

In [ ]:
lst = ["mumbai","dubai","london","paris","newyork"]

In [ ]:
lst.count("dubai")

In [ ]:
lst.extend(["cape town"])

In [ ]:
lst

In [ ]:
lst_1=[2,3,4,5]
print(lst_1.index(4))

In [ ]:
lst = ["mumbai","dubai","london","paris","newyork"]
lst.insert(0,"kandivali")
print(lst)

In [ ]:
lst.pop(2)

In [ ]:
lst.pop(0)

In [ ]:
lst.pop()

In [ ]:
lst=['kandivali', 'mumbai', 'dubai', 'london', 'paris', 'newyork']
lst.remove("kandivali")
print(lst)

In [ ]:
lst.reverse()
print(lst)

In [ ]:
lst.sort()
print(lst)

# TUPLE

In [ ]:
tpl=(10,20,30,40,"dolar")

In [ ]:
tpl

In [ ]:
tpl*3

In [ ]:
tpl.count("dolar")

In [ ]:
tpl.index("dolar")

In [ ]:
tpl.

# SET

In [ ]:
s1={10,20,30,"xyz",10,20}

In [ ]:
s1

In [ ]:
s1.update([90,99])

In [ ]:
s1

In [ ]:
s1.remove("xyz")
s1

In [ ]:
s1.add(80)
s1

In [ ]:
s1={10, 20, 30, 80, 90, 99}
s1.pop()
print(s1)

In [ ]:
s1.pop()

In [ ]:
s1.discard(99)

In [ ]:
s1

In [14]:
s1={10, 20, 30, 80, 90, 99}
s1.update([99])

In [15]:
s1

{10, 20, 30, 80, 90, 99}

# DICTIONARY

In [1]:
dct={"india":"mumbai","uae":"dubai","england":"london","usa":"california"}
print(dct)
type(dct)

{'india': 'mumbai', 'uae': 'dubai', 'england': 'london', 'usa': 'california'}

dict

In [2]:
dct.keys()

dict_keys(['india', 'uae', 'england', 'usa'])

In [5]:
dct["india"]

'mumbai'

In [7]:
dct.values()

dict_values(['mumbai', 'dubai', 'london', 'california'])

In [5]:
dct={"india":"mumbai","uae":"dubai","england":"london","usa":"california"}
dct.items()

dict_items([('india', 'mumbai'), ('uae', 'dubai'), ('england', 'london'), ('usa', 'california')])

In [6]:
dct.pop("england")

'london'

In [8]:
dct.popitem()

('usa', 'california')

In [10]:
dct.copy()

{'india': 'mumbai', 'uae': 'dubai'}

In [11]:
dct.get("uae")

'dubai'

In [17]:
dct1={"usa":"newyork"}
dct.update(dct1)
dct

{'india': 'mumbai', 'uae': 'dubai', 'usa': 'newyork'}

In [2]:
dct={"india":"mumbai","uae":"dubai","england":"london","usa":"california"}
dct.copy()

{'india': 'mumbai', 'uae': 'dubai', 'england': 'london', 'usa': 'california'}

In [7]:
dct.fromkeys(1)

TypeError: 'int' object is not iterable

In [1]:
str="my name is dolar"

In [2]:
str

'my name is dolar'

In [4]:
str.upper()

'MY NAME IS DOLAR'

In [5]:
str.lower()

'my name is dolar'

In [6]:
str.title()

'My Name Is Dolar'

In [7]:
str.istitle()

False

In [1]:
str="my name is dolar"
str.count("a")

2

In [1]:
import os
os.getcwd()

'C:\\Users\\ADMIN'